<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="messaging.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera2.full" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".settings.alarms.CreateNewReminder"/>
        <activity android:name=".settings.alarms.ManageRemindersActivity" />
        <activity android:name=".settings.ManageAdminActivity" />
        <activity android:name=".games.LeaderBoardActivity" />
        <activity android:name=".games.reflexGames.stroopTest.StartStroopTestActivity" />
        <activity android:name=".games.memoryGames.SelectMemoryGameActivity" />
        <activity android:name=".games.memoryGames.pairGame.PairGame8ButtonsActivity" />
        <activity android:name=".games.memoryGames.pairGame.PairGame12ButtonsActivity" />
        <activity android:name=".games.memoryGames.pairGame.PairGame16ButtonsActivity" />
        <activity android:name=".games.memoryGames.pairGame.PairGame6ButtonsActivity" />
        <activity android:name=".games.memoryGames.pairGame.StartPairsGameActivity" />
        <activity android:name=".games.memoryGames.memorizingPatternGame.PatternMemorizing4ButtonsActivity" />
        <activity android:name=".games.memoryGames.memorizingPatternGame.PatternMemorizing6ButtonsActivity" />
        <activity android:name=".games.memoryGames.memorizingPatternGame.PatternMemorizing9ButtonsActivity" />
        <activity android:name=".games.memoryGames.memorizingPatternGame.StartMemorizingPatternActivity" />
        <activity android:name=".games.reflexGames.stroopTest.StroopTestActivity" />
        <activity android:name=".games.SelectGameActivity" />
        <activity android:name=".games.reflexGames.SelectReactionGameActivity" />
        <activity android:name=".games.reflexGames.gridReactionGames.StartGridReactionGameActivity" />
        <activity android:name=".games.reflexGames.gridReactionGames.GridReactionGame9ButtonsActivity" />
        <activity android:name=".games.reflexGames.gridReactionGames.GridReactionGame6ButtonsActivity" />
        <activity android:name=".games.reflexGames.gridReactionGames.GridReactionGame4ButtonsActivity" />
        <activity android:name=".games.reflexGames.ButtonChangeColourActivity" />
        <activity android:name=".messages.viewingMessages.ViewMediaMessageActivity" />
        <activity android:name=".messages.viewingMessages.ViewTextMessageActivity" />
        <activity android:name=".messages.viewingMessages.ListOfReceivedMediaActivity" />
        <activity android:name=".messages.sendingMedia.AddMessageToMediaActivity" />
        <activity
            android:name=".messages.sendingMedia.SendMediaTabsActivity"
            android:label="@string/title_activity_send_media_tabs"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".messages.friendsList.EditFriendActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".messages.friendsList.ViewFriendsListActivity" />
        <activity android:name=".messages.friendsList.AddFriendActivity" />
        <activity android:name=".messages.MessagesActivity" />
        <activity android:name=".login.ResetPasswordActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register.RegisterEmailActivity" />
        <activity android:name=".register.RegisterPasswordActivity" />
        <activity android:name=".register.RegisterUsernameActivity" />
        <activity android:name=".register.RegisterPersonalInfoActivity" />
        <activity android:name=".register.RegisterProfileImageActivity" />
        <activity android:name=".messages.capturingMedia.CaptureActivity" />
        <activity android:name=".SelectAreaOfApplicationActivity" />

        <service android:name=".NotifyMessageReceivedService" />
        <service android:name=".settings.alarms.AlarmRingtoneService"
            android:enabled="true"/>
        <receiver android:name=".settings.alarms.AlarmReceiver"/>
    </application>

</manifest>