<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="messaging.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera2.full" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".settings.SettingsActivity"></activity>
        <activity android:name=".messages.friendsList.ViewFriendsListActivity" />
        <activity android:name=".messages.friendsList.AddFriendActivity" />
        <activity android:name=".messages.MessagesActivity" />
        <activity android:name=".messages.sendingMedia.SendMediaFriendsListActivity" />
        <activity android:name=".login.ResetPasswordActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register.RegisterEmailActivity" />
        <activity android:name=".register.RegisterPasswordActivity" />
        <activity android:name=".register.RegisterUsernameActivity" />
        <activity android:name=".register.RegisterPersonalInfoActivity" />
        <activity android:name=".register.RegisterProfileImageActivity" />
        <activity android:name=".messages.sendingMedia.SendMediaFileActivity" />
        <activity android:name=".messages.capturingMedia.CaptureActivity" />
        <activity android:name=".SelectAreaOfApplicationActivity" />
    </application>

</manifest>